<!DOCTYPE html>
<html lang="en">
<body>
    <h1>Please enter the notes in the {{ current_chord }} chord</h1>

    <form action="chord_check" method="POST">
        <input type="checkbox" name="note" value="A">A
        <input type="checkbox" name="note" value="A#">A#
        <input type="checkbox" name="note" value="B">B
        <input type="checkbox" name="note" value="C">C
        <input type="checkbox" name="note" value="C#">C#
        <input type="checkbox" name="note" value="D">D
        <input type="checkbox" name="note" value="D#">D#
        <input type="checkbox" name="note" value="E">E
        <input type="checkbox" name="note" value="F">F
        <input type="checkbox" name="note" value="F#">F#
        <input type="checkbox" name="note" value="G">G
        <input type="checkbox" name="note" value="G#">G#
        <br><input type="submit" name="submit" value="Check my answer!">
    </form>

    <br>

    <form action="quizzer" method="POST">
        <input type="submit" name="home_form" value="Return to quizzer home">
    </form>
</body>
</html>